* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    /*background-color: black;*/
    background-image: url('../img/futurista_retro_background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------------CONTAINER------------*/

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* ------------NAVBAR------------*/

#navbar {
    width: 100%;
    height: 10vh;
    /*display: none;*/
    display: flex;
    /*background-color: #ff6452;*/
    position: relative;


}

.buttonHome {
    width: 25vh;
    height: 20vh;
    margin: 3vh;
}

.buttonHome #btnHome {
    width: 20vh;
    height: 15vh;
    background-color: transparent;
    background-image: url('../img/home.png');
    background-size: cover;
    border: none;
    cursor: pointer;

}

.buttonSeta {
    width: 25vh;
    height: 20vh;
    margin-top: 4vh;

}

.buttonSeta #btnSeta {
    width: 12vh;
    height: 12vh;
    background-color: transparent;
    background-image: url('../img/seta.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}


.buttonDropdown {
    width: 14vh;
    height: 14vh;
    margin: 4vh;
    position: absolute;
    right: 0;
}

#dropbtn {
    width: 8.88vh;
    height: 8vh;
    background-color: transparent;
    background-image: url('../img/dropdown.png');

    background-size: cover;
    border: none;
    cursor: pointer;


}

#dropbtnX {
    width: 8.88vh;
    height: 8vh;
    background-color: transparent;
    background-image: url('../img/icon_x_roxo.png');

    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;

}

#dropdown_content {

    width: 29vh;
    height: 30vh;
    background-color: #ff6452;
    border: 5px solid #f8e321;
    border-radius: 10px;
    box-shadow: -3px 2px 0px 13px black;


    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    margin-left: -300%;
    padding-top: 1.5vh;
}

#userbtnD {
    width: 27vh;
    height: 8vh;
    background-color: transparent;
    background-image: url('../img/user.png');

    background-size: cover;
    border: none;
    cursor: pointer;
}

#rankingbtnD {
    width: 27vh;
    height: 8vh;
    background-color: transparent;
    background-image: url('../img/ranking.png');

    background-size: cover;
    border: none;
    cursor: pointer;


}

#logoutbtnD {
    width: 27vh;
    height: 8vh;
    background-color: transparent;
    background-image: url('../img/logout.png');

    background-size: cover;
    border: none;
    cursor: pointer;


}

/* ------------INFORMACOES DO USUARIO------------*/
#infoUser {
    width: 60vh;
    height: 60vh;
    background-color: #ff6452;
    border: 5px solid #f8e321;
    border-radius: 10px;
    box-shadow: -3px 2px 0px 13px black;


    margin-top: 8vh;
    margin-left: 79vh;
    padding-left: 20vh;
    z-index: 5;
    position: absolute;

    display: grid;
    flex-direction: column;
    place-items: center;

    display: none;


}

#nicklabel,
#namelabel,
#facillabel,
#mediolabel,
#dificillabel,
#tituloScore,
#pRating {
    font-family: 'Impact', 'fantasy';
    color: #ffee00;
    font-size: larger;
    text-shadow: 1px 1px #000000;
}

dl {
    padding-left: 20px;
}

dd {
    padding-left: 20px;
}

#namelabel {
    font-size: small;
}

.buttonXInfo {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 3vh;
}

#btnXInfo {
    width: 9vh;
    height: 9vh;
    background-color: #730c0000;
    background-image: url('../img/icon_x.png');
    background-size: cover;
    border: none;
    cursor: pointer;




}


#infoUser img {
    width: 18vh;
    height: 20vh;
    margin-top: -20%;
}

#useDiv {
    margin-left: -5%;
}

/* ------------Ranking------------*/

#containerRankin {
    width: 80vh;
    height: 70vh;
    background-color: #ff6452;
    border: 5px solid #f8e321;
    border-radius: 10px;
    box-shadow: -3px 2px 0px 13px black;
    overflow: hidden;
    margin-top: 8vh;
    margin-left: 68vh;
    z-index: 5;
    position: absolute;
    overflow-y: auto;
    display: none;


}


.buttonXRank {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 3vh;

}

#btnXRank {
    width: 9vh;
    height: 9vh;
    background-color: #730c0000;
    background-image: url('../img/icon_x.png');
    background-size: cover;
    border: none;
    cursor: pointer;




}


#ranckDiv img {
    width: 50vh;
    margin-left: 18%;
}

#ranckDiv h1 {
    display: none;
}

.table-container {
    max-width: 100%;
    max-height: 100%;

}

/*
Estilizar a tabela:

Você pode definir estilos gerais para a tabela, como largura, margens, bordas e cores de fundo usando CSS. Por exemplo:
*/

#rankTabela {
    width: 100%;
    border-collapse: collapse;
    /* Para unir as bordas das células */
    background-color: #f2f2f2;
}


/*
Estilizar as células do cabeçalho (th):

Para estilizar as células do cabeçalho, você pode definir estilos para as tags th.
*/

#rankTabela th {
    background-color: #f8e321;
    color: #fff;
    font-size: 18px;
}


/*Estilizar as células de dados (td):

Para estilizar as células de dados, você pode definir estilos para as tags td.*/

#rankTabela td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

#tdscore {
    width: 20vh;
}

#tdnickname {
    display: flex;
    align-items: center;
}

#lugar_1,
#lugar_2,
#lugar_3,
#lugar_0 {
    max-width: 8vh;
    height: auto;
}

/*
Estilizar as linhas pares e ímpares:

Você pode destacar linhas pares ou ímpares da tabela para facilitar a leitura:
*/

#rankTabela tr:nth-child(even) {
    background-color: #ddd;
}

#rankTabela tr:nth-child(odd) {
    background-color: #fff;
}


/*
Hover nas células:

Adicionar um estilo especial quando o mouse passar sobre as células:
*/

#rankTabela td:hover {
    background-color: #eeff074d;
}

/* ------------BARRA DE ROLAGEM containerRankin------------*/

#containerRankin::-webkit-scrollbar {
    width: 12px;
    /* Largura da barra de rolagem vertical */
    height: 12px;
    /* Altura da barra de rolagem horizontal */
}

#containerRankin::-webkit-scrollbar-track {
    background-color: rgb(248, 248, 146);
    /* Cor da faixa da barra de rolagem */
}

/* Para navegadores compatíveis com a especificação CSS Scrollbars Level 1 (como Firefox) */
#containerRankin {
    scrollbar-width: thin;
    /* Define a largura da barra de rolagem */
}

#containerRankin::-webkit-scrollbar-thumb {
    background: #ff0000;
    /* Cor da alça da barra de rolagem */
    border-radius: 6px;
    /* Raio da alça da barra de rolagem */
}


/* ------------BACKGROUND GAME------------*/

#game {
    width: 50vh;
    height: 80vh;
    background-color: #ff6452;
    border: 5px solid #f8e321;
    border-radius: 10px;
    box-shadow: -3px 2px 0px 13px black;
    /*display: none;*/


}


/* ------------CHOOSE GAME------------*/

#choose_game {
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 146);
    padding-top: 10vh;
    /*display: none;*/
    display: flex;
    padding-left: 4vh;
    flex-direction: column;
    display: none;
}

#choose_game label {
    cursor: pointer;
}

#choose_game label img {
    width: 40vh;
}

#choose_game input[type="submit"] {
    display: none;
}


/* ------------GAME PLAY------------*/

#game_play {
    display: none;
}

.preview {
    width: 100%;
    margin-top: 5vh;
    display: grid;
    place-items: center;

}

#webcam-container canvas {
    border-radius: 20px;
    background-color: #ff6452;
    border: 5px solid #f8e321;
    border-radius: 10px;
    box-shadow: -3px 2px 0px 13px black;

}

.info {
    width: 20vh;
    height: 45vh;
    background-color: #ffffffad;
    padding: 20px;
    display: none;
}

#tela {
    width: 100%;
    margin-top: 6vh;
    /*background-color: blue;*/
    display: flex;
    align-items: start;
    padding: 6vh;
    flex-direction: column;
}

#tela label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin-bottom: 1vh;

    color: #ffee00;
    text-shadow: -3px 2px 0px rgba(0, 0, 0, 0.5);
    font-size: 20px;

}

.p1 {
    background-color: black;
    color: red;
    padding: 6px;
    border-radius: 5px;
}

#tela_fim2 {
    text-align: center;
}

form table tr td {
    padding-left: 20px;
    padding-top: 20px;
}

#preLoader {
    text-align: center;
    margin-top: 60%;
}

#preLoader>img {
    width: 30%;
}

#letra>b,
#tela_fim>b {
    background-color: black;
    border-radius: 3px;
    padding: 4px;
}

#user,
#ponto,
#dificuldade,
#bt_voltar,
#rating {
    display: none;
}

#bt_voltar {
    font-size: 50px;
    margin-left: 11vh;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #f2ff00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #b5cd00;
}

#bt_voltar:hover {background-color: rgb(141, 143, 0)}

#bt_voltar:active {
    background-color: rgb(136, 143, 0);
    box-shadow: 0 5px rgb(101, 99, 0);
    transform: translateY(4px);
}

#btnPular {
    display: none;
    margin-left: 15vh;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #cd0000;
}

#btnPular:hover {background-color: rgb(143, 0, 0)}

#btnPular:active {
    background-color: rgb(143, 0, 0);
    box-shadow: 0 5px rgb(101, 0, 0);
    transform: translateY(4px);
}


@media screen and (max-width: 768px) {


    /* ------------NAVBAR------------*/
    /*ok*/
    #navbar {
        width: 100%;
        height: 10vh;

    }


    /*ok*/
    .buttonHome {
        margin-top: 1.5vh;
        margin-left: 0vh;
    }


    /*ok*/
    .buttonHome #btnHome {
        width: 18vh;

        height: 13.5vh;
    }



    .buttonSeta {
        width: 22, 5vh;
        height: 18vh;
        margin-top: 2vh;
        margin-left: -5vh;

    }


    /*ok*/
    .buttonDropdown {
        width: 9vh;
        height: 9vh;
        margin-right: 1vh;

    }

    /*ok*/
    #dropdown_content {
        margin-left: -300%;
        margin-top: 5vh;
    }

    /* ------------INFORMACOES DO USUARIO------------*/
    /*ok*/
    #infoUser {
        width: 45vh;
        height: 55vh;
        margin-top: 8vh;
        margin-left: 3vh;
        padding-left: 10vh;
        z-index: 10;
    }

    /* ------------Ranking------------*/

    #containerRankin {
        width: 45vh;
        height: 80vh;
        overflow-x: auto;
        margin-top: 8vh;
        margin-left: 3vh;
        z-index: 10;

    }



    .buttonXRank {
        width: 100%;
        margin-top: 2vh;
        display: flex;
        justify-content: flex-end;
        padding-right: 3vh;

    }

    #btnXRank {
        width: 9vh;
        height: 9vh;
        background-color: #730c0000;
        background-image: url('../img/icon_x.png');
        background-size: cover;
        border: none;
        cursor: pointer;




    }


    #ranckDiv img {
        width: 40vh;
        margin-left: 5%;
    }


    /*
    Estilizar as células do cabeçalho (th):
    
    Para estilizar as células do cabeçalho, você pode definir estilos para as tags th.
    */

    #rankTabela th {
        font-size: 25px;
    }


    /*Estilizar as células de dados (td):
    
    Para estilizar as células de dados, você pode definir estilos para as tags td.*/

    #tdscore {
        width: 10vh;
    }


    #lugar_1,
    #lugar_2,
    #lugar_3,
    #lugar_0 {
        max-width: 5vh;
    }


    /* ------------BACKGROUND GAME------------*/
    /*ok*/
    #game {
        width: 45vh;
        margin-top: 10vh;


    }

    /* ------------CHOOSE GAME------------*/

    #choose_game {
        padding-left: 2vh;
    }

    /* ------------GAME PLAY------------*/
    /*ok*/
    #bt_voltar {
        margin-left: 5vh;

    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {


    /* ------------NAVBAR------------*/
    /*ok*/
    #navbar {
        width: 100%;
        height: 10vh;

    }


    /*ok*/
    .buttonHome {
        margin-top: 1.5vh;
        margin-left: 0vh;
    }


    /*ok*/
    .buttonHome #btnHome {
        width: 18vh;

        height: 13.5vh;
    }



    .buttonSeta {
        width: 22, 5vh;
        height: 18vh;
        margin-top: 2vh;
        margin-left: -5vh;

    }


    /*ok*/
    .buttonDropdown {
        width: 9vh;
        height: 9vh;
        margin-right: 1vh;

    }

    /*ok*/
    #dropdown_content {
        margin-left: -300%;
        margin-top: 5vh;
    }

    /* ------------INFORMACOES DO USUARIO------------*/
    /*ok*/
    #infoUser {
        width: 45vh;
        height: 55vh;
        margin-top: 8vh;
        margin-left: 3vh;
        padding-left: 10vh;
        z-index: 10;
    }

    /* ------------Ranking------------*/

    #containerRankin {
        width: 45vh;
        height: 80vh;
        overflow-x: auto;
        margin-top: 8vh;
        margin-left: 3vh;
        z-index: 10;

    }



    .buttonXRank {
        width: 100%;
        margin-top: 2vh;
        display: flex;
        justify-content: flex-end;
        padding-right: 3vh;

    }

    #btnXRank {
        width: 9vh;
        height: 9vh;
        background-color: #730c0000;
        background-image: url('../img/icon_x.png');
        background-size: cover;
        border: none;
        cursor: pointer;




    }


    #ranckDiv img {
        width: 40vh;
        margin-left: 5%;
    }


    /*
    Estilizar as células do cabeçalho (th):
    
    Para estilizar as células do cabeçalho, você pode definir estilos para as tags th.
    */

    #rankTabela th {
        font-size: 25px;
    }


    /*Estilizar as células de dados (td):
    
    Para estilizar as células de dados, você pode definir estilos para as tags td.*/

    #tdscore {
        width: 10vh;
    }


    #lugar_1,
    #lugar_2,
    #lugar_3,
    #lugar_0 {
        max-width: 5vh;
    }


    /* ------------BACKGROUND GAME------------*/
    /*ok*/
    #game {
        width: 45vh;
        margin-top: 10vh;


    }

    /* ------------CHOOSE GAME------------*/

    #choose_game {
        padding-left: 2vh;
    }

    /* ------------GAME PLAY------------*/
    /*ok*/

    #tela label {
        font-size: 2rem;
    }

    #bt_voltar {
        margin-left: 5vh;

    }

}