* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    /*background-color: black;*/
    background-image: url(img/futurista_retro_background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* ------------CONTAINER------------*/

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* ------------HOME------------*/

#home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*display: none;*/

}

.logo {
    margin-top: 6vh;
}

.logo img {
    width: 100vh;
}

#home .button {
    margin-top: 20vh;
}


.button #btnStart {
    width: 30vh;
    height: 13vh;
    background-color: transparent;
    background-image: url('img/login.png');
    background-size: cover;
    border: none;
    cursor: pointer;



}



@media screen and (max-width: 768px) {

    .logo {
        margin-top: 20vh;
    }

    .logo img {
        width: 45vh;
    }

    #home .button {
        margin-top: 30vh;
    }


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .logo {
        margin-top: 20vh;
    }

    .logo img {
        width: 65vh;
    }

    #home .button {
        margin-top: 25vh;
    }

}